.heroWrapper {
    height: 100vh;
    position: relative;
    font-family: "Rounded M+ 1c", sans-serif;
    color: #fff;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@font-face {
    font-family: "aladdin";
    src: url("/fonts/aladdin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.heroWrapper {
    font-family: "aladdin", sans-serif;
}
.hero_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero_text p {
    font-size: 1.5rem;
    margin: 0;
}

.hero_text h1 {
    font-size: 2rem;
    margin: 0.5em 0 0;
}