<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /gs/genie-platform/apps/lamp-ui/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /gs/genie-platform/apps/lamp-ui/index.html [L]
</IfModule>