@charset "UTF-8";

// ==========================================================================
// demoサイト用
// ==========================================================================

.l-sample ul {
  @media print, screen and (min-width: 761px) {
    display: flex;
    justify-content: center;
  }
  li {
    margin: 0 10px 10px;
  }
}